body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 220, 217);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#registroForm{
    background-color: rgba(104, 107, 109, 0.296);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 1px 1px 10px black;
}
label{
    display: block;
    margin-bottom: 5px;
}
label.inline{
    display: inline-block;
}
input, select {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="checkbox"]{
    margin-bottom: 10px;
    margin-top: 15px;
}
input[type="text"],
input[type="email"],
input[type="number"],
select
{
    width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
    outline: none;
}
input[type="submit"]{
    background-color: rgba(88, 90, 88, 0.851);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: .5s ease;

}
input[type="submit"]:hover{
    background-color: rgba(60, 61, 60, 0.851);
}
.error{
    font-size: 10px;
    color: red;
}

@media (min-width: 1025px){
        #registroForm{
        width: 500px;
    }
}    
